@import "tailwindcss";
@import "../../../node_modules/@ui/shadcn/globals.css";

@theme {
  --font-sans: "Source San 3", system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans-serif: "Source Serif 4", serif;
  --font-mono: "", monospace;
}

html {
  @apply font-sans;
}
